<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Credentails -->
    <add key="GOOGLE_CLIENT_ID" value="645608426209-fsk2vrv5k0j09jibvclkuc421dbroapf.apps.googleusercontent.com" />
    <add key="GOOGLE_CLIENT_SECRET" value="naEPZaA971dnw2_xkA74ggo7" />
    <add key="REDIRECT_URI" value="http://localhost:9000/OAuthV2.ashx" />
  </appSettings>
</configuration>
